{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>trying something</h2>
    {% if user.is_authenticated %}
        <h2>Welcome, {{user.username}}</h2>
    {% else %}
        <h2>not logged in</h2>
    {% endif %}

   {% if user.is_authenticated %}
        <a href="logout">logout</a>
   {% else %}
        login or signup
   {% endif %}

    {% for feature in features%}
    <div style="border: 1px solid black;">
    <h4>{{feature.name}}</h4>
    <h4>{{feature.details}}</h4>
    </div>
    {% endfor %}
</body>
</html>